[submodule "librechat"]
	path = librechat
	url = https://github.com/njcurrin/Self.ai-LibreChat.git
[submodule "postgres"]
	path = postgres
	url = https://github.com/njcurrin/Self.ai-postgres.git
[submodule "ollama"]
	path = ollama
	url = https://github.com/njcurrin/Self.ai-ollama.git
[submodule "firecrawl"]
	path = firecrawl
	url = https://github.com/njcurrin/Self.ai-firecrawl.git
[submodule "search"]
	path = search
	url = https://github.com/njcurrin/Self.ai-searxng.git
[submodule "playwright"]
	path = playwright
	url = https://github.com/njcurrin/Self.ai-playwright.git
[submodule "mongo"]
	path = mongo
	url = https://github.com/njcurrin/Self.ai-mongo.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/njcurrin/Self.ai-nginx.git
